<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href='{% static "/css/mystyle.css" %}'>
        <title>myDjango</title>
    </head>
    <body>
        {% include 'navbar.html' %}

        <h4 id='mode-text' style="margin-left:20px" >Mode: Secure</h4>
        <label class="switch" style="margin-left:32px" >
            <input type="checkbox" >
            <span class="slider round"></span>
          </label>

        <h1>Communication LTD</h1>

        <h2> {{ title|title }}</h2>

        {% block content %}
        replace me
        {% endblock %}

    
    </body>
</html>