<div style="width:50%">
    <p style="float:right"> Password Policy (password should contains at least...):<br>
                            <br> 1. Password length: {{ pass_policy.min_length }}
                            <br> 2. Digits (0-9): {{ pass_policy.password_content.min_length_digit }}
                            <br> 3. Letters (a-Z): {{ pass_policy.password_content.min_length_alpha }}
                            <br> 4. Capitals (A-Z): {{ pass_policy.password_content.min_length_upper }}
                            <br> 5. Lowers (a-z): {{ pass_policy.password_content.min_length_lower }}
                            <br> 6. Special chars ({{ pass_policy.password_content.special_characters }}): {{ pass_policy.password_content.min_length_special }}
                        </p>

</div>