{% extends 'base.html' %}

{% block content %}


<div id="insecure-form"> 
<form method='GET'> 
<input type='text' name='fname' placeholder="(GET)Client First Name" required/> <br>
<input type='text' name='lname' placeholder="(GET)Client Last Name" required/> <br>
<!-- Secure?<input type='checkbox' name='secure' value='secure' checked/>  -->
<input type='submit' value='Save'/>
</form>
</div>

<div id="secure-form"> 
<form method='POST'> {% csrf_token %}
    <input type='text' name='fname' placeholder="(POST)Client First Name" required/> <br>
    <input type='text' name='lname' placeholder="(POST)Client Last Name" required/> <br>
    <!-- Secure?<input type='checkbox' name='secure' value='secure' checked/>  -->
    <input type='submit' value='Save'/>
    </form>
</div>



{% if client_fname or client_lname %}
    {% if isSecure %} <!--- secure mode -->
    <h4> {{ client_fname }}  {{ client_lname }} has been added succesfully! (secure)</h2>
    {% else %} <!--- insecure mode -->
    <h4> {{ client_fname | safe }}  {{ client_lname | safe }} has been added succesfully! (insecure)</h2>
    {% endif %}
{% endif %}


{% if last_client %}
    {% if isSecure %}
     <h3> Last Client Added:</h3>
     <h3>{{ last_client.name }} {{ last_client.lastName}} </h3>
     {% else %}
     <h3> Last Client Added:</h4>
     <h3>{{ last_client.name | safe}} {{ last_client.lastName | safe}} </h3>
     {% endif %}

{% endif %} 



{% endblock %}